.container{
    margin:auto 0px auto;
    background-color: rgb(52, 48, 66);
    display:flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    margin:25px auto;
    width:1150px;
    max-width: 100vw;
    border-radius: 10px;
}

.functionContainer{
    display:flex;
    width:800px;
    max-width:100vw;

    flex-direction: row;
    margin:15px auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.heading{
    color: white;
    font-size: 24px;
    padding: 10px 10px 5px 10px;
}



.mainContainer{
    padding: 5px 10px 5px  10px;
}

.mainContainer>textarea{
    border-radius:5px;
    outline: none;
    
}

.mainContainer>textarea:hover{
    box-shadow: 0px 0px 10px 2px rgb(61,127,172) ;
}

.functionContainer>button{
    background-color: rgb(61, 127, 172);
    height: 40px;
    width: 120px;
    color: white;
    border-radius: 10px;
    border: 1px solid rgb(61, 127, 172);
    box-shadow:0px 0px 0px 0px white;
    margin:5px;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
}

.functionContainer>button:hover{
    cursor:pointer;
    color:lightgrey;
    background-color:rgb(46, 47, 94);
    box-shadow: 0px 0px 8px 5px rgb(61, 127, 172);

}

.summary{
    padding:5px;
    align-self: flex-start;
    margin:10px;
}

.summary>h3{
    color:white;
    margin:5px;
}

.summary>p{
    color:grey;
    margin:5px;
}

